/* ////////////////////////////////////////////////////////////////////////
    ABOUT
//////////////////////////////////////////////////////////////////////// */
.about-hero {
    background-image: url("../images/Asset 33@2x-50.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--background);
    grid-area: hero;
    display: grid;
    height: 826px;
    align-content: center;
    justify-content: center;
    border-bottom: 5px solid var(--background);
}

.about-card {
    width: 80vw;
    background: white;
    padding: 25px;
    text-align: center;
    display: grid;
    justify-content: space-around;
}

.about-card h1, .about-card p {
    width: 60vw;
}

.about-card h1 {
    font-size: 3rem;
    padding: 40px 0 20px 0;
}

.about-card p {
    line-height: 1.5rem;
    font-weight: 600;
}

.team {
    grid-area: philosophy;
    background: var(--background);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    justify-items: center;
    padding: 200px 0 50px 0;
    z-index: -1;
}

.profile {
    width: 35vw;
    background: white;
    padding: 100px 50px 50px 50px;
    text-align: center;
    position: relative;
}

.profile-pic {
    height: 220px;
    width: 200px;
    overflow: hidden;
    position: absolute;
    top: -150px;
    left: 0;
    right: 0;
    margin: auto;
}

.profile-pic > img {
    width: 100%;
    height: auto;

}

.name  {
    font-size: 2rem;
    padding-bottom: 5px;
}

.role {
    text-transform: uppercase;
    color: var(--blue);
    font-size: .8rem;
}

.profile p {
    text-align: left;
    font-weight: 600;
}

@media (max-width: 822px) {
    .team {
        grid-template-columns: 1fr;
        grid-gap: 200px;
    }

    .profile {
        width: 80vw;
    }
}
