/* ////////////////////////////////////////////////////////////////////////
    CONTACT
//////////////////////////////////////////////////////////////////////// */

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "form card";
    background: var(--background);
    padding-bottom: 25px;
    height: 85vh;
    margin-top: 15vh;
}

.form {
    grid-area: form;
    display: grid;
    width: 35vw;
    margin: 50px auto;
    grid-gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.star {
    color: var(--button);
}

.form div {
    display: grid;
    grid-gap: 5px;
}

label {
    color: var(--white);
    font-weight: 600;
}

.chars {
    text-align: right;
}

input {
    padding: 5px;
}

textarea {
    resize: none;
    overflow: auto;
    padding: 5px;
}

.contact-card {
    grid-area: card;
    display: grid;
    justify-items: start;
    margin: 50px auto auto auto;
    width: 40vw;
}

.contact-card h1 {
    font-size: 3rem;
    color: var(--white);
    line-height: 3.5rem;
}

.contact-card .available {
    color: var(--white);
    font-size: 1rem;
    align-items: center;
    font-weight: 600;
    letter-spacing: .05rem;
    padding-bottom: 15px;
    text-transform: uppercase;
    padding-left: 3vw;
}

.contact-card .available:last-of-type {
    padding-bottom: 0;
}

.contact-card .available img {
    margin-right: 10px;
}

.contact-card p {
    font-size: 1.3rem;
    letter-spacing: .05rem;
    line-height: 1.8rem;
    margin: 20px 0;
    color: var(--white);
}

@media (max-width: 768px) {
    .contact-card .available {
        font-size: .8rem;
        font-weight: 600;
        letter-spacing: .1rem;
    }
}

@media (max-width: 425px) {
    .contact {
        grid-template-columns: 1fr;
        grid-template-areas: "card" "form";
    }

    .contact-card {
        width: 80vw;
        text-align: center;
        justify-items: center;
        margin: 0 auto;
    }

    .form {
        width: 80vw;
        margin: 0 auto;
    }
}