/* BASE STYLES */
@font-face {
    font-family: 'Drim';
    src: url('../Drim.ttf') format('truetype');
}

:root {
    --background: #302A3A;
    --button: #E5901A;
    --font-color: #616264;
    --footer-color: #666666;
    --hover-color: #302A3A;
    --white: #FFF;
    --blue: #0078A4;
    --black: #000000;
}

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: Drim, "Myriad Pro", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 10pt;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    min-height: calc(100vh - 100px);
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Drim;
    font-weight: 300;
    color: var(--font-color);
    margin: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.8rem;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--font-color);
    font-size: 1.2rem;
}

button {
    background: var(--button);
    border: none;
    padding: 5px 15px;
    color: var(--white);
    font-family: Drim;
    font-weight: 300;
    font-size: 1.8rem;
    letter-spacing: -0.05rem;
    transition: .2s;
}

button:hover {
    color: var(--font-color);
}

/* ////////////////////////////////////////////////////////////////////////
    DESKTOP
//////////////////////////////////////////////////////////////////////// */
/* NAVBAR */
.navbar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: end;
    font-family: Drim;
    position: fixed;
    top: 0;
    background: var(--white);
    height: 15vh;
    z-index: 100;
}

.navbar button {
    display: none;
}

.logo {
    grid-column: 1 / 2;
    margin: 0 0 2.5vh 5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    height: 10vh;
    width: 20vw;
}

.logo a {
    height: inherit;
}

.logo a img {
    height: inherit;
}

.top-nav {
    grid-column: 3 / -1;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    margin: 0 0 15px 0;
    font-size: 1.2rem;
}

.top-nav a {
    text-decoration: none;
    color: var(--font-color);
    padding: 5px 15px;
}

.top-nav a:hover {
    color: var(--hover-color);
}

.active {
    border-bottom: 2px solid;
}

.menu-button {
    display: none;
    font-size: 3rem;
}

/* PAGE SPECIFIC CSS */
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "hero" "services" "philosophy" "footer";
}

/* HERO */
.hero {
    grid-area: hero;
    background-image: url("../images/hero_flipped.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--background);

    display: grid;
    margin-top: 15vh;
    height: 85vh;
    align-content: center;
    justify-content: right;
}

.cta {
    padding: 45px;
    width: 45vw;
    margin-right: 5vw;
    background: var(--white);
}

.available {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    justify-content: start;
    font-family: Roboto;
    color: var(--blue);
    padding-bottom: 1.5vh;
    letter-spacing: -.01rem;
}

.available img {
    width: 18px;
    margin-right: 8px;
}

.cta h2 {
    letter-spacing: -.1rem;
    line-height: 3.5rem;
}

.cta p {
    line-height: 1.5rem;
    letter-spacing: -.05rem;
    margin: 20px 0 25px 0;
}

#cta-bottom {
    display: flex;
    flex-direction: column;
}

#cta-bottom div {
    align-self: center;
}

.cta button {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.cta button:active {
    transform: translate(3px, 3px);
    box-shadow: none;
    transition: none;
}

#cta-bottom-mobile {
    display: none;
}

/* SERVICES */
.services {
    grid-area: services;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3vw;
    justify-items: center;
    align-items: flex-start;
    margin: 50px;
}

.services h1 {
    grid-column: 1 / -1;
    text-align: center;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.sprite {
    height: 10vw;
    width: 10vw;
    margin: 0 0 4vw 0;
}

.SEO {
    background-image: url("../assets_svg/SEO@2x.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.SEM {
    background-image: url("../assets_svg/SEM@2x.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.Display {
    background-image: url("../assets_svg/Display@2x.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.Design {
    background-image: url("../assets_svg/Design@2x.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.item h2 {
    font-weight: 300;
}

.item p {
    font-family: Myriad Pro;
    color: var(--black);
    margin: 15px 0;
}

/* PHILOSOPHY */
.philosophy {
    padding: 8vh 8vw;
    background: var(--background);
    grid-area: philosophy;
    display: grid;
}

.philosophy-content {
    display: grid;
    width: 80vw;
}

.philosophy-content h1 {
    font-family: Drim;
    color: var(--white);
    position: relative;
    letter-spacing: -.1rem;
}

.philosophy-content h1::before {
    content: '°';
    vertical-align: top;
    position: absolute;
    font-size: 1.5rem;
    font-weight: bold;
}

.quote {
    color: var(--white);
    font-size: 4rem;
    letter-spacing: -.1rem;
}

.philosophy-content p {
    color: var(--white);
    letter-spacing: -.05rem;
    line-height: 1.5rem;
}

.philosophy-content .available {
    color: var(--white);
    font-size: 1.1rem;
    letter-spacing: -.05rem;
    line-height: 1.5rem;
    font-weight: 400;
    padding: 0 0 5px 1vw;
}

.philosophy-content .button {
    margin: 5vh auto 2vh auto;
}

.teamwork {
    width: 50vw;
    margin: 10vh auto 5vh auto;
}

/* FOOTER */
.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: end;
    padding: 30px 20px;
    color: var(--footer-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer .logo {
    grid-column: 2 / 3;
    margin: 0;
    max-height: 10vh;
    max-width: 25vw;
    width: auto;
    height: auto;
    
}

/* ////////////////////////////////////////////////////////////////////////
    TABLET
//////////////////////////////////////////////////////////////////////// */
@media (max-width: 822px) {
    /* NAVBAR */
    .topnav {
        grid-column: 2 / -1;
    }

    /* HERO - CALL TO ACTION */
    .cta {

    }

    .cta h2 {

    }

    .cta p {

    }

    button {

    }
    
    /* 2 columns for services on tablets */
    .services {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ////////////////////////////////////////////////////////////////////////
    MOBILE
//////////////////////////////////////////////////////////////////////// */
@media (max-width: 425px) {
    /* PAGE SPECIFIC CSS */
    .container {
        display: grid;
        grid-template-areas: "hero"
                            "cta"
                            "services"
                            "philosophy"
                            "footer";
    }

    /* NAVBAR */
    .navbar {
        grid-template-columns: 70vw 30vw;
        grid-template-areas: "logo button" "links links";
        margin: 0;
        position: fixed;
        background: white;
        top: 0;
    }

    .navbar.logo {
        grid-area: logo;
    }

    .navbar button {
        display: grid;
        grid-area: button;
        align-self: center;
        background: white;
        color: var(--font-color);
        height: 100%;
    }

    .top-nav {
        grid-area: links;
        display: none;
        grid-auto-flow: row;
        transition: all 0.5s;
        position: fixed;
        top: 15vh;
        background: var(--white);
        width: 100vw;
    }

    .top-nav a {
        margin-bottom: 15px;
    }

    [aria-controls="menu-list"] {
        display: block;
        margin-bottom: 10px;
    }
    
    [aria-expanded="true"] ~ .top-nav {
        display: grid;
    }
    
    [aria-expanded="false"] .close {
        display: none;
    }
    
    [aria-expanded="true"] .close {
        display: inline-block;
    }
    
    [aria-expanded="true"] .open {
        display: none;
    }

    /* HERO */
    .hero {
        height: 87vh;
        align-content: end;
        justify-content: center;
        background-position-x: -45vw;
    }

    /* HERO - CALL TO ACTION */
    .cta {
        width: 80vw;
        padding: 20px;
        margin-bottom: 10vh;
    }

    .cta-top .available {
        font-weight: 600;
    }

    .cta-top h2 {
        font-size: 2.2rem;
    }

    /* MOBILE CALL TO ACTION */
    #cta-bottom {
        display: none;
    }

    #cta-bottom-mobile {
        grid-area: cta;
        display: grid;
        justify-items: center;
        background: var(--background);
        padding: 20px 20px 50px 20px;
    }

    #cta-bottom-mobile p {
        color: var(--white);
        text-align: center;
    }

    /* SERVICES */
    .sprite {
        height: 20vw;
        width: 20vw;
        margin: 0 0 4vw 0;
    }

    .services {
        grid-template-columns: 1fr;
    }

    /* PHILOSOPHY */
    .philosophy {
        padding: 50px 20px 50px 20px;
    }

    .philosophy-content {
        width: 100%;
    }

    .philosophy h1 {
        padding: 0;
    }

    /* FOOTER */
    .footer {
        display: grid;
        grid-template-columns: 30vw 1fr;
        grid-template-areas: 
            "logo footer"
            "logo footer1"
            "logo footer2";
        justify-items: end;
        padding: 10px;
    }

    .footer .logo{
        grid-area: logo;
        padding: 0;
        width: 30vw;
        height: auto;
        justify-self: center;
    }

    .footer1 {
        grid-area: footer1;
    }

    .footer2 {
        grid-area: footer2;
    }
}